In [1]:
import pandas as pd
import numpy as np

In [3]:
from sqlalchemy import create_engine
import pandas as pd

# Define the database URL
db_url = "postgresql://postgres:admin@localhost:5432/clevelandData"

# Create an SQLAlchemy engine
engine = create_engine(db_url)

# Define your SQL query
query = "SELECT * FROM clevelandData;"

# Retrieve the data into a pandas DataFrame
df = pd.read_sql(query, engine)

# Display the DataFrame
print(df)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope ca thal  num age_group
0      3.0  0    6    0     61-80
1      2.0  3    3    2     61-80
2      2.0  2    7    1     61-80
3      3.0  0    3    0     21-40
4      1.0  0    3    0     41-60
..     ... ..  ...  ...       ...
298    2.0  0    7    1     41-60
299    2.0  2    7    2     61-80
300    2.0  1    7    3     41-60
301    2.0  1    3    1     41-60
302    1.0  0    3    0     21-40

[303 rows x 15 columns]

# Data Exploration